__pycache__/
epipolar_lines/
epipolar_video.mp4
reconstruction.mp4
3d_point_plots/
combined.mp4
combined/
data
.vscode
params.json
reprojections/
traces/
results/
analysis/
points/

# plots
*.jpg
*.png
*.eps

# vids
*.mov
*.mp4
*.avi

# checkpoints
*.DS_Store
*.ipynb_checkpoints
